<div class="container">
  <h1>Stupid coaching</h1>
  <br>
  <h3>Ask your coach anything</h3>
  <br>
  <form class="question" action="answer">
    <input type="text" name="question">
    <input type="submit" value="Ask!">
  </form>
  <br>
</div>
